*{
  margin: 0;
}
body {
  --slack-color: #3f0f40;
  --slack-color-hover: #340e36;
  --slack-color-semi-light: #421f44;
  --slack-color-light: #49274b;
  --white-color: white;
  --lightgray: lightgray;
  --lightgray-light: #f8f8f8;
  --gray: gray;
  --green: #0a8d48;
  --dark-green: #095e30;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
